<script setup lang="ts">
import { useLocale } from "vuetify";

const { current } = useLocale();
const { locale } = useI18n();

useHead({
  titleTemplate: (titleChunk) => {
    return titleChunk ? `${titleChunk} - Nuxt app` : "Nuxt app";
  },
});

watch(locale, (newValue) => {
  current.value = newValue;
});
current.value = locale.value;
</script>

<template lang="pug">
NuxtLayout
  NuxtPage
</template>
