<script lang="ts" setup>
useSeoMeta({
  title: "Home",
  ogTitle: "Home page",
  description: "This is my amazing home page.",
  ogDescription: "This is my amazing home page.",
  ogImage: "https://example.com/image.png",
  twitterCard: "summary_large_image",
});
const switchLocalePath = useSwitchLocalePath();

const items = [
  {
    name: "African Elephant",
    species: "Loxodonta africana",
    diet: "Herbivore",
    habitat: "Savanna, Forests",
  },
];
</script>

<template lang="pug">
v-container
  div
    NuxtLink(:to="switchLocalePath('es')") Español
    NuxtLink(:to="switchLocalePath('en')") English

  p {{ $t("welcome") }} Page: foo

  v-data-table(:items="items")
</template>

<style scoped></style>
